.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100% - 87px);
    background-color: aqua;

    .des {
        flex : 50%;
        max-width: 50%;
        height : inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 5.2rem;
        }
    }

    .image {
        flex : 50%;
        max-width: 50%;
        height: inherit;

    }
}