.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100% - 87px);

    .home_page {

        height: inherit;
        display: flex;
        padding: 0 90px;

        .des {
            flex : 50%;
            max-width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 50px;

            .wrapper {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
    
            h1 {
                font-size: 6.2rem;
                font-weight: 900;
                // line-height: 5rem
            }

            h2 {
                display: none;
            }

            .sub_titles {
                margin: 32px 0px;

                p {
                    color: $gray;
                    font-size: 2.3rem;
                }
            }

            button{
                border: none;
                background: black;
                color: $white;
                min-height: 5rem;
                min-width: 14rem;
                border-radius: 10px;
            }
        }
    
        .image_wrapper {
            flex : 50%;
    
            .desktop {
               height: 100%;
               width: 100%;
            }

            .mobile {
                display: none;
            }
        }


        .icons{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
    }

   
}


@media screen and (max-width : 768px) {
        .container{
            height: 100%;
            .home_page {
                flex-direction: column-reverse;
                height: -webkit-fill-available;

    
                .image_wrapper {
    
                    .desktop {
                        display: none;      
                     }
         
                     .mobile {
                         display: inline-block !important;
                         height: 100%;
                         width: 100%;
                     }
                }
    
                .des {
                    max-width: unset;
                    padding: 16px;

                    .wrapper {

                        .title {
                            text-align: center;
                            h1 {
                                display: none;
                            }
                            h2 {
                                font-size: 4.6rem;
                                display: inline-block;
                                font-weight: 700;
                            }
                        }
                    }

                    .sub_titles {
                        text-align: center;
                    }

                    .button {
                        text-align: center;
                    }
                }
    
    
            }
        }
       
}