.navbar {
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 24px;

    .buttons {
        display: flex;
        justify-content: space-between;
        min-width: 250px;

        button {
            background-color: unset;
            border: unset;
            border : 2px solid $black;
            min-height: 35px;
            min-width: 100px;
            border-radius: 10px;
            font-weight: 500;
            
        }
    }

}