.navbar {
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px;
    position: relative;

    .list {
        padding : unset;
        list-style: none;
        display: flex;
        color : $gray;
    
        li {
            padding: 6px 16px;
            display: flex;
            gap: 16px;
        }
    
    }

   
    .logo_with_items {
        display: flex;
        gap: 16px;
        justify-content: center;
        align-self: baseline;
    }

    

    .menu_icon {
        display: none;
        svg {
            cursor: pointer;
        }
    }

}

@media screen and (max-width : 768px) {
    .navbar {

        .list {
            li:not(:first-child) {
                display: none;
            }
        }
        .buttons {
            display: none !important;
        }

        .menu_icon {
            display: inline-block;
        }
    }
}