@import "./variables";
@import "./_navbar.scss";
@import "./dropdown";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Space+Grotesk:wght@500&display=swap');


html  {
    
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-size: 62.5%;
    
}


 

:root {
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        font-size: inherit;
        // font-size: inherit;
        margin: unset;
        font-family: 'Space Grotesk', sans-serif;
        cursor: pointer;
    }

    #app {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
    }
}
